:root {
  background: black;
  margin: 0;
  --Dkgreen: rgb(45, 87, 67);
  --Goldenrod: #ffc501;
}

#home {
  margin-top: 2.5rem;
}

body {
  background: black;
}

p {
  font-size: 0.75rem;
  text-align: justify;
  font-family: "Raleway", sans-serif;
}

header {
  background: black;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}

section {
  background-color: black;
}

.stickynav {
  height: 5vh;
  min-height: 2.6rem;
}

.container {
  margin-bottom: 0;
  vertical-align: center;
  background: black;
}

.navbar ul li {
  display: inline;
  padding: 0.75rem;
}
/* TO DO: add a media query to fix navbar on phone screens, check to make sure it is responsive on all browsers  */
.navbar ul li a {
  color: var(--Goldenrod);
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}
.navbar ul li a:hover {
  border-top: 2px solid var(--Goldenrod);
  text-decoration: none;
}
.navbar ul li a:visited {
  color: var(--Goldenrod);
}

.donate-btn {
  float: right;
  background: var(--Dkgreen);
  color: white;
  border-radius: 6px;
  padding: 0.15rem 0.7rem;
  position: relative;
  top: -0.4rem;
}

#home .jumbotron {
  background-image: url("./images/bee-a-hero.jpg");
  background-color: black;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-bottom: 0;
  min-height: 75vh;
  border-radius: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.knockout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.knockout h1 {
  background: white;
  display: inline;
  padding: 0 1rem;
  margin: 1rem 1rem;
  font-size: 20vh;
  mix-blend-mode: screen;
  font-family: "Unlock", cursive;
}

.row {
  background: black;
  color: white;
  text-align: center;
}

.knockout-head {
  margin-bottom: 1rem;
}
.knockout-head h2 {
  background: white;
  color: black;
  display: inline;
  padding: 0 0.4rem;
  font-family: "Unlock", cursive;
  font-size: 2.6rem;
}

.col-sm-12 {
  background: black;
  padding: 1rem;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}
.col-sm-4 {
  background: black;
  padding: 0.6rem;
  margin-left: auto;
  margin-right: auto;
}
.col-sm-4 img {
  width: 100%;
}

.col-sm-5 img {
  width: 100%;
}
.col-sm-4 h5 {
  padding: 1rem 0 0;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 1.5rem;
  text-align: left;
}
.col-sm-4 p {
  border-bottom: 2px solid var(--Goldenrod);
}
.col-sm-4 p a {
  color: var(--Goldenrod);
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 60%;
}
.col-sm-4 p a:hover {
  color: white;
  text-decoration: none;
}

iframe {
  margin-bottom: 1rem;
}
form {
  padding-bottom: 1.5rem;
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
}
.contacttbl {
  width: 100%;
  text-align: left;
}
.contacttbl input {
  width: 100%;
}
.contact-label {
  width: 7.5rem;
}
.contact-msg textarea {
  width: 100%;
}
.clickme {
  margin-top: 0.6rem;
  padding-top: 0.25rem;
  background: var(--Dkgreen);
  color: white;
  border: 0;
  border-radius: 6px;
  padding-bottom: 0.15rem;
}

footer {
  background-color: black;
}
#social {
  margin-top: 5rem;
  padding-top: 0.5rem;
  text-align: left;
  border-top: 2px solid var(--Goldenrod);
}
#social img {
  width: 2rem;
  height: 2rem;
  fill: white;
}
#copyright {
  margin-top: 5rem;
  padding-top: 0.5rem;
  display: flex;
  justify-content: right;
  border-top: 2px solid var(--Goldenrod);
}
.svgsocial {
  fill: white;
  height: 1.6rem;
  margin: 0 0.2rem;
}
