:root {
  background: black;
  margin: 0;
  --Dkgreen: rgb(45, 87, 67);
}

#home {
  margin-top: 2.5rem;
}

body {
  background: black;
}

p {
  /* TO DO: style paragraphs */
}

header {
  background: black;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}

section {
  background-color: black;
}

.stickynav {
  height: 5vh;
  min-height: 2.6rem;
}

.container {
  margin-bottom: 0;
  vertical-align: center;
  background: black;
}

.navbar ul li {
  display: inline;
  padding: 0.75rem;
  color: white;
}
/* TO DO: add a media query to fix navbar on phone screens 
TO DO: fix font and add hover effect for .navbar ul li a */

.donate-btn {
  float: right;
  background: var(--Dkgreen);
  color: white;
  border-radius: 6px;
  padding: 0.15rem 0.7rem;
  position: relative;
  top: -0.4rem;
}

#home .jumbotron {
  background-image: url("./images/blackeyedsusans.jpg");
  background-color: black;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-bottom: 0;
  min-height: 75vh;
  border-radius: 0 !important;
}

.knockout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.knockout h1 {
  background: white;
  display: inline;
  padding: 0 1rem;
  margin: 1rem 1rem;
  font-size: 20vh;
  mix-blend-mode: screen;
}
/* TO DO: find a cool font for .knockout h1 */

.row {
  background: black;
  color: white;
  text-align: center;
}

.knockout-head {
  margin-bottom: 1rem;
}
.knockout-head h2 {
  background: white;
  color: black;
  display: inline;
  padding: 0 0.4rem;
  font-weight: 900;
}
/* TO DO: change section header font */

.col-sm-12 {
  background: black;
  padding: 1rem;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}
.col-sm-4 {
  background: black;
  padding: 0.6rem;
  margin-left: auto;
  margin-right: auto;
}
.col-sm-4 img {
  width: 100%;
}

.col-sm-5 img {
  width: 100%;
}
.col-sm-4 p {
  padding: 1rem 0;
}

iframe {
  margin-bottom: 1rem;
}

.contacttbl {
  width: 100%;
  text-align: left;
}
.contacttbl input {
  width: 100%;
}
.contact-label {
  width: 7.5rem;
}
.contact-msg textarea {
  width: 100%;
}
.clickme {
  margin-top: 0.6rem;
  background: var(--Dkgreen);
  color: white;
  border: 0;
  border-radius: 6px;
  padding-bottom: 0.15rem;
}

footer {
  background-color: black;
}
#social {
  margin-top: 5rem;
  padding-top: 0.5rem;
  text-align: left;
  border-top: 2px solid var(--Dkgreen);
}
#social img {
  width: 2rem;
  height: 2rem;
  fill: white;
}
#copyright {
  margin-top: 5rem;
  padding-top: 0.5rem;
  text-align: right;
  border-top: 2px solid var(--Dkgreen);
}
.svgsocial {
  fill: white;
  height: 1.6rem;
  margin: 0 0.2rem;
}
